@import "./../variables.scss";

.container {
  max-width: 700px;

  .title-page {
    font-size: 3.5em;
  }
  .categories {
    .category-title {
      text-align: center;
    }
    .stories {
      margin: 2% 0;
      padding : 1%;
      .section-article {
        .article{
          display: flex;
          .story-text {
            width: 100%;
            height: 100%;
            white-space: initial;
            margin: auto;
          }
          .img-story{
            max-width: 200px;
            max-height: 200px;
            margin: auto;
          }
          @media only screen and (max-width: $mobile-width) {
            .img-story {
              width: auto;
              max-height: 130px;
              margin: 10px auto;
            }
          }
        }
        @media only screen and (max-width: $mobile-width) {
          .article {
            display: flex;
            flex-direction: column
          }
        }
      }
    }
    .mat-card-subtitle-custom {
      margin: 0;
    }
  }
  ::ng-deep.mat-card-header-text {
    margin: auto;
  }
  .form-button {
    text-align: center;
  }
}
