<div class="container">
  <div class="margin-container">
    <form *ngIf="newsletterForm" [formGroup]="newsletterForm" name="newsletter" id="newsletter" (ngSubmit)="onSubmitModal()">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title-page">Newsletter</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="news-info">
            You need to choose stories before : <span *ngIf="!nextNewsletter">Unknown</span><span *ngIf="nextNewsletter">{{ nextNewsletter }}</span>. After that, it will be send automatically.
          </div>
          <div class="categories">
            <h2 class="category-title">TOP STORIES</h2>
            <div class="stories" formGroupName="topstories">
              <mat-card *ngFor="let story of this.storiesByCategory[categories[0]]; let i = index" class="story-card">
                <mat-card-content>
                  <section class="section-article" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
                    <mat-checkbox [ngModel]="i<3" [formControlName]="i" fxFlex="75">
                      <div class="article">
                        <mat-card-header class="story-text">
                          <mat-card-title>{{ story.title }} </mat-card-title>
                          <mat-card-subtitle class="mat-card-subtitle-custom">{{ story.source_name }}
                            - {{ story.publication_date }}</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </mat-checkbox>
                    <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">
                      <img mat-card-image src="{{ story.imgurl }}" alt="{{ story.title }}" class="img-story">
                    </div>
                  </section>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="categories">
            <h2 class="category-title">SPORTS</h2>
            <div class="stories" formGroupName="sports">
              <mat-card *ngFor="let story of this.storiesByCategory[categories[1]]; let i = index" class="story-card">
                <mat-card-content>
                  <section class="section-article" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
                    <mat-checkbox [ngModel]="i<3" [formControlName]="i" fxFlex="75">
                      <div class="article">
                        <mat-card-header class="story-text">
                          <mat-card-title>{{ story.title }} </mat-card-title>
                          <mat-card-subtitle class="mat-card-subtitle-custom">{{ story.source_name }}
                            - {{ story.publication_date }}</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </mat-checkbox>
                    <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">
                      <img mat-card-image src="{{ story.imgurl }}" alt="{{ story.title }}" class="img-story">
                    </div>
                  </section>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="categories">
            <h2 class="category-title">ENTERTAINMENT</h2>
            <div class="stories" formGroupName="entertainment">
              <mat-card *ngFor="let story of this.storiesByCategory[categories[2]]; let i = index" class="story-card">
                <mat-card-content>
                  <section class="section-article" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
                    <mat-checkbox [ngModel]="i<3" [formControlName]="i" fxFlex="75">
                      <div class="article">
                        <mat-card-header class="story-text">
                          <mat-card-title>{{ story.title }} </mat-card-title>
                          <mat-card-subtitle class="mat-card-subtitle-custom">{{ story.source_name }}
                            - {{ story.publication_date }}</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </mat-checkbox>
                    <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">
                      <img mat-card-image src="{{ story.imgurl }}" alt="{{ story.title }}" class="img-story">
                    </div>
                  </section>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="categories">
            <h2 class="category-title">LIFESTYLE/EXTRA</h2>
            <div class="stories" formGroupName="lifestyle">
              <mat-card *ngFor="let story of this.storiesByCategory[categories[3]]; let i = index" class="story-card">
                <mat-card-content>
                  <section class="section-article" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
                    <mat-checkbox [ngModel]="i<3" [formControlName]="i" fxFlex="75">
                      <div class="article">
                        <mat-card-header class="story-text">
                          <mat-card-title>{{ story.title }} </mat-card-title>
                          <mat-card-subtitle class="mat-card-subtitle-custom">{{ story.source_name }}
                            - {{ story.publication_date }}</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </mat-checkbox>
                    <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">
                      <img mat-card-image src="{{ story.imgurl }}" alt="{{ story.title }}" class="img-story">
                    </div>
                  </section>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="categories">
            <h2 class="category-title">The Latest Thinking</h2>
            <div class="stories" formGroupName="tlts">
              <mat-card *ngFor="let tlt of tlts; let i = index" class="story-card">
                <mat-card-content>
                  <section class="section-article" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
                    <mat-checkbox [ngModel]="i<2" [formControlName]="i" fxFlex="75">
                      <div class="article">
                        <mat-card-header class="story-text">
                          <mat-card-title>{{ tlt.title }} - {{ tlt.fullname }}</mat-card-title>
                          <mat-card-subtitle class="mat-card-subtitle-custom">{{ tlt.summary }}</mat-card-subtitle>
                        </mat-card-header>
                      </div>
                    </mat-checkbox>
                    <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">
                      <img mat-card-image src="{{ tlt.image }}" alt="{{ tlt.title }}" class="img-story">
                    </div>
                  </section>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>

          <div class="form-button">
            <button mat-raised-button *ngIf="!isOnSubmit">
              Submit
            </button>
            <mat-spinner *ngIf="isOnSubmit"></mat-spinner>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
