<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">THE LATEST - Newsletter</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list fxLayoutAlign="center center" fxLayout="column">
        <a mat-list-item routerLink="/"><span>Home</span></a>
        <a mat-list-item (click)="newsletter()" *ngIf="currentUser"><span>Newsletter</span></a>
        <a mat-list-item (click)="logout()" *ngIf="currentUser"><span>Logout</span></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="scrollId">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
